@use 'sass:math';
@import '../../app/globals.scss';

//HEADER DIMENSION
$width-tools: 60px;

.tools {
    width: $width-tools;
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $items-padding;
    color: $font-black;
    background-color: $secondary-color;
    border-radius: $border-radius;
    z-index: 6;

    .items {
        height: 100%;
        display: inherit;
        flex-direction: inherit;
        gap: $items-margin;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $items-padding;
            cursor: pointer;
            transition: 0.3s all;
            border-radius: $border-radius;
            box-shadow: 1px 1px 1px 0px transparent;
            border: 1px solid transparent;
        }

        .select {
            opacity: 0.5;
            border: 1px solid $white-color;
        }

        div:hover:not(div:nth-child(4)) {
            opacity: 0.5;
        }

        .palette {
            color: $white-color;
            position: relative;

            span {
                font-size: 30px;
            }

            .colors {
                display: flex;
                gap: $items-padding;
                flex-wrap: wrap;
                width: 0px;
                height: 0px;
                position: absolute;
                top: 0;
                left: $width-tools;
                overflow: hidden;
                background-color: $background-color;
                padding: 0;
                transition: 0.1s all;
                opacity: 0;
                justify-content: flex-start;

                .color {
                    z-index: 9;
                    margin: 0;
                    border: none;
                    width: 25px;
                    height: 25px;
                }
            }


            .colors:hover {
                opacity: 1;
            }
        }

        .selectPalette {
            border: 1px solid $white-color;

            .colors {
                flex-wrap: wrap;
                width: 340px;
                height: 120px;
                opacity: 1;
                padding: $items-padding;
            }

        }
    }
}